<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyu.dao.AdminoneMapper">
    <resultMap id="BaseResultMap" type="com.yuyu.pojo.Adminone">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="businesslicence" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="storeId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password, businesslicence, storeId, phone, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from adminone
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adminone
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yuyu.pojo.Adminone">
    insert into adminone (id, username, password,
      businesslicence, storeId, phone,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{businesslicence,jdbcType=VARCHAR}, #{storeid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR},
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.yuyu.pojo.Adminone">
        insert into adminone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="businesslicence != null">
                businesslicence,
            </if>
            <if test="storeid != null">
                storeId,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="businesslicence != null">
                #{businesslicence,jdbcType=VARCHAR},
            </if>
            <if test="storeid != null">
                #{storeid,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                now(),
            </if>
            <if test="updateTime != null">
                now(),
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuyu.pojo.Adminone">
        update adminone
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="businesslicence != null">
                businesslicence = #{businesslicence,jdbcType=VARCHAR},
            </if>
            <if test="storeid != null">
                storeId = #{storeid,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuyu.pojo.Adminone">
    update adminone
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      businesslicence = #{businesslicence,jdbcType=VARCHAR},
      storeId = #{storeid,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="checkUsername" parameterType="String" resultType="int">
    select count(1) from adminone
    where username=#{username}
  </select>
    <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from adminone
        where username = #{username}
        and password = #{password}
    </select>
    <select id="getAdminoneIdByusernmae" parameterType="string" resultType="int">
    select id
    from adminone
    where username = #{usernmae}
  </select>
    <select id="getstoreidbyusername" parameterType="string" resultType="int">
        select storeid
        from adminone
        where username=#{username}
    </select>
    <select id="getId" parameterType="string" resultType="int">
        select id
        from adminone
        where phone=#{phone}
    </select>
</mapper>