<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyu.dao.ReservationNowMapper" >
  <resultMap id="BaseResultMap" type="com.yuyu.pojo.ReservationNow" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="number_now" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="storeid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, number_now, storeid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reservation_now
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reservation_now
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuyu.pojo.ReservationNow" >
    insert into reservation_now (id, number_now, storeid
      )
    values (#{id,jdbcType=INTEGER}, #{numberNow,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuyu.pojo.ReservationNow" >
    insert into reservation_now
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="numberNow != null" >
        number_now,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="numberNow != null" >
        #{numberNow,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuyu.pojo.ReservationNow" >
    update reservation_now
    <set >
      <if test="numberNow != null" >
        number_now = #{numberNow,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuyu.pojo.ReservationNow" >
    update reservation_now
    set number_now = #{numberNow,jdbcType=INTEGER},
      storeid = #{storeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getidBystoreid" parameterType="int" resultType="int">
    select id
    from reservation_now
    where storeid=#{storeid}
  </select>
</mapper>